# Telecommunications Churn Data

## Scenario: Telecommunications Churn
In the telecommunications industry, customers can choose from multiple service providers
and actively switch from one provider to another. Customer “churn” is defined as the
percentage of customers who stopped using a provider’s product or service during a certain
time frame. In this highly competitive market, some telecommunications industries can
experience average annual churn rates as high as 25 percent. Given that it costs 10 times
more to acquire a new customer than to retain an existing one, customer retention has now
become even more important than customer acquisition.

For many providers, retaining highly profitable customers is the number one business goal.
To reduce customer churn, telecommunications companies need to predict which customers
are at high risk of churn.

## Information

Full github profile for this project can be seen [Here](https://github.com/TrikerDev/Data-Cleaning-D206). The raw data being used for this analysis can be seen [Here](https://github.com/TrikerDev/Data-Cleaning-D206/blob/main/Telecommunications%20Churn%20Data/churn_raw_data.csv). Data Dictionary for all variables can be seen listed below and [Here](https://github.com/TrikerDev/Data-Cleaning-D206/blob/main/Telecommunications%20Churn%20Data/D206%20Data%20Cleaning%20Churn%20Data%20Consideration%20and%20Dictionary.pdf).

## Data Dictionary:

The data set includes the following information:

• customers who left within the last month (the “Churn” column)

• services that each customer signed up for (phone, multiple lines, internet, online
security, online backup, device protection, technical support, and streaming TV and
movies)

• customer account information (how long they’ve been a customer, contracts, payment
methods, paperless billing, monthly charges, GB usage over a year, etc.)

• customer demographics (gender, age, job, income, etc.)

The data set consists of 10,000 customers and 50 columns/variables:

• CaseOrder: A placeholder variable to preserve the original order of the raw data file

• Customer_id: Unique customer ID

• Interaction, UID: Unique IDs related to customer transactions, technical support, and
sign-ups

The following variables represent customer demographic data:

o City: Customer city of residence as listed on the billing statement

o State: Customer state of residence as listed on the billing statement

o County: Customer county of residence as listed on the billing statement

o Zip: Customer zip code of residence as listed on the billing statement

o Lat, Lng: GPS coordinates of customer residence as listed on the billing statement

o Population: Population within a mile radius of customer, based on census data

o Area: Area type (rural, urban, suburban), based on census data

o TimeZone: Time zone of customer residence based on customer’s sign-up
information

o Job: Job of the customer (or invoiced person) as reported in sign-up information

o Children: Number of children in customer’s household as reported in sign-up
information

o Age: Age of customer as reported in sign-up information

o Education: Highest degree earned by customer as reported in sign-up information

o Employment: Employment status of customer as reported in sign-up information

o Income: Annual income of customer as reported at time of sign-up

o Marital: Marital status of customer as reported in sign-up information

o Gender: Customer self-identification as male, female, or nonbinary

• Churn: Whether the customer discontinued service within the last month (yes, no)

• Outage_sec_perweek: Average number of seconds per week of system outages in the
customer’s neighborhood

• Email: Number of emails sent to the customer in the last year (marketing or
correspondence)

• Contacts: Number of times customer contacted technical support

• Yearly_equip_failure: The number of times customer’s equipment failed and had to be
reset/replaced in the past year

• Techie: Whether the customer considers themselves technically inclined (based on
customer questionnaire when they signed up for services) (yes, no)

• Contract: The contract term of the customer (month-to-month, one year, two year)

• Port_modem: Whether the customer has a portable modem (yes, no)

• Tablet: Whether the customer owns a tablet such as iPad, Surface, etc. (yes, no)

• InternetService: Customer’s internet service provider (DSL, fiber optic, None)

• Phone: Whether the customer has a phone service (yes, no)

• Multiple: Whether the customer has multiple lines (yes, no)

• OnlineSecurity: Whether the customer has an online security add-on (yes, no)

• OnlineBackup: Whether the customer has an online backup add-on (yes, no)

• DeviceProtection: Whether the customer has device protection add-on (yes, no)

• TechSupport: Whether the customer has a technical support add-on (yes, no)

• StreamingTV: Whether the customer has streaming TV (yes, no)

• StreamingMovies: Whether the customer has streaming movies (yes, no)

• PaperlessBilling: Whether the customer has paperless billing (yes, no)

• PaymentMethod: The customer’s payment method (electronic check, mailed check,
bank (automatic bank transfer), credit card (automatic))

• Tenure: Number of months the customer has stayed with the provider

• MonthlyCharge: The amount charged to the customer monthly. This value reflects an
average per customer.

• Bandwidth_GB_Year: The average amount of data used, in GB, in a year by the
customer

The following variables represent responses to an eight-question survey asking customers
to rate the importance of various factors/surfaces on a scale of 1 to 8 (1 = most important,
8 = least important)

o Item1: Timely response

o Item2: Timely fixes

o Item3: Timely replacements

o Item4: Reliability

o Item5: Options

o Item6: Respectful response

o Item7: Courteous exchange

o Item8: Evidence of active listening

## Question

Can we determine the attributes of customers that are at the highest likelihood of churn? What education has the highest correlation with churn? What maritial status? Employment?

## Data Cleaning Plan

To identify anomalies in the data set, we will be first cleaning up the data. We will find unneeded variables and remove them. Remove null variables, columns that dont matter to answering the question, dropping duplicates, etc. We will then find the anomalies in the data though visualization such as box and whisker plots and histograms.

To answer the research question, we will analyze all the variables in correlation to the chance that a specific customer will churn or not. We should then be able to discover which variables equate to a high likelihood of a customer churning. To assess the quality of specific variables, we will see how much each variable correlates to churn. For example, some variables may have absolutely no impact on churn, and therefore these variables really do not matter to us.

In this analysis, we will be using Python. Python is great for data analytics and cleaning. It makes it very simple to do what you need to do, to get actionable insights out of the data. Python also has many packages to add abilities that base Python may not contain. For example, we will also be using Pandas for out dataset to create a Pandas Dataframe and numpy to add in even more functionality for data analysis. We will also be using matplotlib and seaborn for visualization.

## Data Cleaning

In [34]:
# Importing the packages that will be used for this analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [35]:
# Loading in our dataset in the form of a Pandas DataFrame. We name the variable 'df' for DataFrame.
df = pd.read_csv('Telecommunications Churn Data\churn_raw_data.csv')

# Displaying the first few rows of df to make sure it imported correctly
df.head()

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,150.761216,271.493436,4,4,4,3,4,4,4,5

In [36]:
# Displaying the table in a different view to get more information on the variables
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10000 non-null  int64
 1   CaseOrder             10000 non-null  int64
 2   Customer_id           10000 non-null  object
 3   Interaction           10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  Timezone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              7505 non-null   float64
 15  Age                   7525 non-null   float64
 16  Education             10000 non-null  object
 17  Employment            10000 non-null  object
 18  Income                7510 non-null   float64
 19  Marital               10000 non-null  object
 20  Gender                10000 non-null  object
 21  Churn                 10000 non-null  object
 22  Outage_sec_perweek    10000 non-null  float64
 23  Email                 10000 non-null  int64
 24  Contacts              10000 non-null  int64
 25  Yearly_equip_failure  10000 non-null  int64
 26  Techie                7523 non-null   object
 27  Contract              10000 non-null  object
 28  Port_modem            10000 non-null  object
 29  Tablet                10000 non-null  object
 30  InternetService       10000 non-null  object
 31  Phone                 8974 non-null   object
 32  Multiple              10000 non-null  object
 33  OnlineSecurity        10000 non-null  object
 34  OnlineBackup          10000 non-null  object
 35  DeviceProtection      10000 non-null  object
 36  TechSupport           9009 non-null   object
 37  StreamingTV           10000 non-null  object
 38  StreamingMovies       10000 non-null  object
 39  PaperlessBilling      10000 non-null  object
 40  PaymentMethod         10000 non-null  object
 41  Tenure                9069 non-null   float64
 42  MonthlyCharge         10000 non-null  float64
 43  Bandwidth_GB_Year     8979 non-null   float64
 44  item1                 10000 non-null  int64
 45  item2                 10000 non-null  int64
 46  item3                 10000 non-null  int64
 47  item4                 10000 non-null  int64
 48  item5                 10000 non-null  int64
 49  item6                 10000 non-null  int64
 50  item7                 10000 non-null  int64
 51  item8                 10000 non-null  int64
dtypes: float64(9), int64(15), object(28)
memory usage: 4.0+ MB

In [37]:
# Removing columns that do not immediately matter.
# Unnamed has no reason to be here
# Case Order, Customer ID, and Interaction Codes will provide no value
df = df.drop(['Unnamed: 0', 'CaseOrder', 'Customer_id', 'Interaction'], axis=1)

In [38]:
# Counting the values in each column. 10,000 is max for this dataset.
df.count()

City                    10000
State                   10000
County                  10000
Zip                     10000
Lat                     10000
Lng                     10000
Population              10000
Area                    10000
Timezone                10000
Job                     10000
Children                 7505
Age                      7525
Education               10000
Employment              10000
Income                   7510
Marital                 10000
Gender                  10000
Churn                   10000
Outage_sec_perweek      10000
Email                   10000
Contacts                10000
Yearly_equip_failure    10000
Techie                   7523
Contract                10000
Port_modem              10000
Tablet                  10000
InternetService         10000
Phone                    8974
Multiple                10000
OnlineSecurity          10000
OnlineBackup            10000
DeviceProtection        10000
TechSupport              9009
StreamingTV             10000
StreamingMovies         10000
PaperlessBilling        10000
PaymentMethod           10000
Tenure                   9069
MonthlyCharge           10000
Bandwidth_GB_Year        8979
item1                   10000
item2                   10000
item3                   10000
item4                   10000
item5                   10000
item6                   10000
item7                   10000
item8                   10000
dtype: int64

> From this count, we can see that several columns are missing values.

In [39]:
# Showing count of all null values
df.isnull().sum()

City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
Timezone                   0
Job                        0
Children                2495
Age                     2475
Education                  0
Employment                 0
Income                  2490
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                  2477
Contract                   0
Port_modem                 0
Tablet                     0
InternetService            0
Phone                   1026
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport              991
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                   931
MonthlyCharge              0
Bandwidth_GB_Year       1021
item1                      0
item2                      0
item3                      0
item4                      0
item5                      0
item6                      0
item7                      0
item8                      0
dtype: int64

In [40]:
# Dropping techie. phone, and tech support as they contain many null values that cannot be imputed
df = df.drop(['Techie', 'Phone', 'TechSupport'], axis=1)

In [41]:
# Impute missing fields for null values
df['Children'] = df['Children'].fillna(df['Children'].median())
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Income'] = df['Income'].fillna(df['Income'].median())
df['Tenure'] = df['Tenure'].fillna(df['Tenure'].median())
df['Bandwidth_GB_Year'] = df['Bandwidth_GB_Year'].fillna(df['Bandwidth_GB_Year'].median())

In [42]:
# Showing count of all null values, again
df.isnull().sum()

City                    0
State                   0
County                  0
Zip                     0
Lat                     0
Lng                     0
Population              0
Area                    0
Timezone                0
Job                     0
Children                0
Age                     0
Education               0
Employment              0
Income                  0
Marital                 0
Gender                  0
Churn                   0
Outage_sec_perweek      0
Email                   0
Contacts                0
Yearly_equip_failure    0
Contract                0
Port_modem              0
Tablet                  0
InternetService         0
Multiple                0
OnlineSecurity          0
OnlineBackup            0
DeviceProtection        0
StreamingTV             0
StreamingMovies         0
PaperlessBilling        0
PaymentMethod           0
Tenure                  0
MonthlyCharge           0
Bandwidth_GB_Year       0
item1                   0
item2                   0
item3                   0
item4                   0
item5                   0
item6                   0
item7                   0
item8                   0
dtype: int64

> Now there are no more null or missing values in this dataset